mat-form-field{
    padding:5px;
}
.float-right{
    float:right;
}
table{
    width:100%;
}
mat-card{
    padding-bottom: 30px !important;
}

.bold-header {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Optional: Change text color */
    text-transform: uppercase; /* Optional: Make text uppercase */
  }
  