mat-card{
    padding:20px;
}
table{
    width:100%
}
.bold-header {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Optional: Change text color */
    text-transform: uppercase; /* Optional: Make text uppercase */
  }
  